<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Tim Wilder - Home Site</title>
<link href="{{ STATIC_URL }}styles.css" rel="stylesheet" type="text/css">
<link rel="{{ STATIC_URL }}stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js?ver=3.3"></script>	
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>

</head>

<body>
<div id="header">
	<div id="logo"><h1>Tim Wilder</h1></div>
	<ul id="main-menu">
    	<li><a href="#about">About</a></li>
        <li><a href="#work">Projects</a></li>
        <li><a href="#connect">Connect</a></li>
    </ul>
</div>

<div id="container">

<!--Begin About Section-->
    <div id="about">
    	<h1>About</h1>
        <ul id="top-social">
            <li><a href="https://github.com/tmwilder" class="github">GitHub</a></li>
            <li><a href="http://www.linkedin.com/pub/timothy-wilder/22/a19/921" class="linkedin">LinkedIn</a></li>
            <li><a href="http://twitter.com/tmwilder" class="twitter">Twitter</a></li>
            <li><a href="http://www.facebook.com/tmwilder" class="facebook">Facebook</a></li>
        </ul>
        <div class="top-divider"></div>
        <div class="content">
        	<img src="{{ STATIC_URL }}images/tim.jpg" height="30%" width="30%"/>
            <h2>My name is Tim Wilder, and I develop software</h2>
            <p>I got into coding as a hobby project during the summer of 2012. It didn't take long to realize that this was something special. Since then I've been working as a full time dev in the Seattle area. This profession has so many unique challenges and rewards, and I love it.
            <br>
            <br>
            This site is a way to show some of the things I'm interested in to employers and friends.</p> 
        </div>
    <div class="bottom-divider"></div> 
    </div>
<!--End About Section-->

<!--Begin Work Section-->
    <div id="work">
    	<h1>Projects</h1>
        <div class="top-divider"></div>
        	<div class="content">
            	<ul id="work-thumbs">
                	<li><a href="/pingpong/" rel="prettyPhoto[1]" title="PingPong - An elo ladder webapp."><img src="{{ STATIC_URL }}images/work/pingpong.jpg"></a></li>
                </ul>
            </div>
        <div class="bottom-divider"></div>
    </div>
<!--End Work Section-->

<!--Begin Connect Section-->
    <div id="connect">
    	<h1>Connect</h1>
        <div class="top-divider"></div>
        	<div class="content">
                <div id="form">
                    <form action="{% url 'home_page_app.views.contact' %}" method="post" id="contact_form">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="fieldWrapper">
                            {{ form.name.errors }}
                            <span>Name</span>
                            <input type="text" name="name" class="name" />
                        </div>
                        <div class="fieldWrapper">
                            {{ form.email.errors }}
                            <span>Email</span>
                            <input type="text" name="email" class="email"/>
                        </div>
                        <div class="fieldWrapper">
                            {{ form.message.errors }}
                            <span>Message</span>
                            <textarea class="message" name="message" form="contact_form"></textarea>
                        </div>
                        <input type="submit" name="submit" value="Submit" class="submit">
                    </form>
                </div>
                <div id="social-footer">
                	<h2>Follow Me:</h2>
                    <p> Have a coding idea? Looking for devs like me? Want to go in on a giraffe farm? I'm interested in feedback and proposals of just about any kind. Feel free to reach out. </p>
                    <ul id="sm-links">
                        <li><a href="http://github.com/tmwilder" class="github">GitHub</a></li>
                        <li><a href="http://www.linkedin.com/pub/timothy-wilder/22/a19/921" class="linkedin">LinkedIn</a></li>
           				<li><a href="http://twitter.com/tmwilder" class="twitter">Twitter</a></li>
                        <li><a href="http://www.facebook.com/tmwilder" class="facebook">Facebook</a></li>
                    </ul>
                </div>
            </div>
    </div>
<!--End Connect Section-->

</div>

 <!-- The JavaScript -->  
        <script type="text/javascript">
    		$(function() {
                $('#main-menu li a').bind('click',function(event){
                    var $anchor = $(this);
                    
                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top
                    }, 1500,'easeInOutExpo');

                    event.preventDefault();
                });
            });
			
 			 $(document).ready(function(){
    		$("a[rel^='prettyPhoto']").prettyPhoto({social_tools:false, deeplinking: false});
  			});

        </script>
</body>
</html>
